<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- LES QUERIES DOIVENT ÊTRE ICI (DANS MANIFEST MAIS HORS APPLICATION) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="whatsapp" />
        </intent>
    </queries>

    <application
        android:label="wizzy"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- ... reste du code ... -->
    </application>
</manifest>